<iframe src="#" id="no-target" name="no-target" style="display:none"></iframe>
<div class="alert alert-dismissible email_bar" role="alert">
  <%#= form_tag(controller: "static_pages", action: "new_user", method: "post", class:"")  do %>
  <form action="" method="POST" target="no-target" id="email_address_form">
  <div class="row">
    <div class= "col-xs-12">
      <div class="pull-right">
        Please enter your email address to receive DAMI updates:
        <br>
        <%#= text_field_tag :email, nil, placeholder:"Email" %>
        <input name="q1" type="email" placeholder="Email" id="email_address" required="true">
        <button type="submit" id="submit_button">Submit</button>
        <%#= submit_tag "Submit", id:"submit_button" %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true" id="close_button">&times;</span></button>

        <div class="left_align orange email_status">
        </div>

      </div>
    </div>
  </div>
  <%# end %>
</form>



</div>
