  <!-- ======================================================= -->

      <div class="dami_fg_col dark_blue
                  col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <h3>
            Full Fiduciary Guide
          </h3>
          <div class="border"></div>

          <ul class="media-list">
            <% for i in 0..1
                case i
                  when 0
                    @dami_fg_link_path  = "DAMI-Fiduciary-Guide-FINAL-ELECTRONIC-VERSION.pdf"
                    @dami_fg_link_icon  = "fa-file-pdf-o"
                    @dami_fg_link_name  = "Fiduciary Guide to Investing to Diverse Asset Managers and Firms (Electronic)"
                  when 1
                    @dami_fg_link_path  = "DAMI-Fiduciary-Guide-PRINT-FILES.pdf"
                    @dami_fg_link_icon  = "fa-file-pdf-o"
                    @dami_fg_link_name  = "Fiduciary Guide to Investing to Diverse Asset Managers and Firms (Print)"
                  else
                    @dami_fg_link_path  = "filename.pdf"
                    @dami_fg_link_icon  = "fa-file-pdf-o"
                    @dami_fg_link_name  = "Name of the Document"  
                end  
            %>
            <li class="media">
              <a href="/pdf/<%= @dami_fg_link_path %>">
                <div class="media-left">
                  <i class="fa <%= @dami_fg_link_icon %> fa-3x"></i>
                </div>
                <div class="media-body">
                  <h4 class="media-heading">
                    <%= @dami_fg_link_name %>
                  </h4>
                  <p>
                    <%= @dami_fg_link_path %>
                  </p>
                </div>
              </a>
            </li>
            <% end %>
          </ul>

      </div> 

  <!-- ======================================================= -->