<div class="row">
  <div class="col-lg-12">
    <h1>Diverse Asset Managers Initiative Statement of Principles</h1>

      <p class="bullet"> • We believe that institutional investors from the public, corporate, labor, faith and philanthropic sectors, as fiduciaries, benefit from a diverse portfolio of asset management firms.</p>

      <p class="bullet"> • Board members and c-suite executives at these institutions play a critical role in providing direction on who should manage their institution’s assets and capital.</p>

      <p class="bullet"> • Additionally, investment consultants play a key role in linking institutional investors to diverse asset management firms.</p>

      <p class="bullet"> • We know that there is a need to improve the policies and programs at the state and federal level to ensure diverse asset management firms have a greater opportunity to participate in the management of public funds.</p>

      <p class="bullet"> • We believe, institutional investors must proactively address the barriers that prevent them from utilizing a diverse set of diverse asset management firms.</p>

      <p class="bullet"> • We believe success will be achieved when the standard of care in the industry has changed, such that the numerous, high performing diverse asset management firms are valued and seamlessly considered by institutional investors.  The measurement of success will be the increased use of diverse asset management firms by institutional investors and the amount of assets under their management.</p>


    <h1>HONORARY CO-CHAIRS</h1>
      <p class="title">Mary Kay Henry</p>
      Mary Kay Henry serves as International President of the Service Employees International Union (SEIU), the fastest-growing union in North American with 2.2 million workers in healthcare, public, and property services.
      Henry joined SEIU staff in 1979, rising to become chief healthcare strategist and International Executive Vice President in 2004.  She led the union’s efforts to win a stronger voice for healthcare workers and enact historic healthcare reforms.  In 2010, Henry was unanimously elected International President.
      Henry sits on the boards of the Economic Policy Institute, American Income Life, Fresh Thinking, and is an advisory member of the National Catholic Scholars for Worker Justice.  She also serves on the Change to Win Leadership Council and is a founding member of SEIU’s gay and lesbian Lavender Caucus.  Henry previously served on the executive board of Families USA and was a labor adviser to the U.S. Catholic Conference of Bishops.

      <p class="title">William A. Von Hoene, Jr.</p>
      <p>
      As Senior Executive Vice President and Chief Strategy Officer, William Von Hoene oversees corporate development, corporate strategy, legal, regulatory, government affairs, investments and communications for Exelon Corporation, the nation’s number one competitive energy provider.  He previously served as executive vice president, Finance and Legal, of Exelon. Von Hoene joined Exelon in February, 2002 and has held numerous positions before assuming his current responsibilities in February 2012.  He serves on Exelon’s Executive Committee and is a member of the Boards of Directors of Nuclear Electric Insurance Limited, the Alliance to Save Energy, and the United Way of Metropolitan Chicago.  He also serves on the Board of Advisors of Flying Food Group and is the Chairman and Chief Executive Officer of Constellation Energy Nuclear Group, a joint venture between Exelon and EDF which owns five nuclear units.
      Prior to joining Exelon, Von Hoene was a senior partner at Jenner & Block, specializing in complex civil and white-collar criminal litigation.  While at Jenner & Block, he served on the management committee and, at various times, as hiring partner and chairperson of the firm’s pro bono and diversity committees.
      </p>

      <p class="title">Alberto Ibraguen</p>
      <p>
        Alberto Ibargüen is president, CEO and a trustee of the John S. and James L. Knight Foundation.
        He is the former publisher of The Miami Herald and El Nuevo Herald. During his tenure, The Miami Herald won three Pulitzer Prizes and El Nuevo Herald won Spain’s Ortega y Gasset Prize for excellence in journalism.

        He studied at Wesleyan University and the University of Pennsylvania Law School. Between college and law school, he served in the Peace Corps in Venezuela’s Amazon Territory and was the Peace Corps Programming and Training Officer in Colombia, based in Bogotá.  After law school, he practiced law in Hartford, Conn., until he joined The Hartford Courant, then Newsday in New York, before moving to Miami.

        He is a former chair of the World Wide Web Foundation, founded by Web inventor Sir Tim Berners¬-Lee to promote a free and universal Web.  Over time, he has served on the boards of arts, education and journalism organizations, including the Lincoln Center for the Performing Arts, Wesleyan University and Smith College.  He is trustee emeritus of the Newseum in Washington, D.C., where he served as board chair.  He also chaired the board of PBS and served on the boards of the Council on Foreign Relations, the Committee to Protect Journalists and ProPublica.
        Ibargüen is a member of the boards of PepsiCo and American Airlines.

        He is a member of MIT’s Visiting Committee for the Media Lab.  In 2015, he was elected a fellow of the American Academy of Arts & Sciences.  For his work to protect journalists in Latin America, Ibargüen received a Maria Moors Cabot citation from Columbia University.  Wesleyan University, The George Washington University, University of Miami, Mercer University and Stephens College have awarded him honorary degrees.
      </p>

      <p class="title">John W. Rogers, Jr.</p>
      <p>
        John Rogers is the Chairman, CEO and Chief Investment Officer of Arial Investments.  Rogers’ passion for investing began at age 12, when his father began buying him stocks as Christmas and birthday gifts. His interest in equities grew at Princeton University, where he majored in economics, and over the two-plus years he worked as a stockbroker for William Blair & Company, LLC. In 1983, Rogers founded Ariel Investments to employ a patient, value strategy in small and medium-size companies.

        He strongly believes in giving back to Chicago, sitting on the corporate boards of Exelon and McDonald’s, and serving as trustee to the University of Chicago.  Nationally, Rogers is a member of the American Academy of Arts and Sciences, and a director of the Robert F. Kennedy Center for Justice and Human Rights. In 2008, he was awarded Princeton University’s highest honor, the Woodrow Wilson Award, presented each year to the alumnus whose career embodies a commitment to national service. Following the election of President Barack Obama, Rogers served as co-chair for the Presidential Inaugural Committee 2009. In 2013, Rogers was featured alongside legendary investors Warren Buffett, Sir John Templeton and Benjamin Graham in the distinguished book: The World’s 99 Greatest Investors by Magnus Angenfelt.  Rogers received an AB in economics from Princeton University, where he was also captain of the varsity basketball team.
      </p>
  </div>
</div>
