<%= render 'layouts/navbar' %>
<div class="container">
  <div class="row" id="about">
    <div class="col-lg-12">
      <h1>HONORARY CO-CHAIRS</h1>
      <p class="title">Mary Kay Henry</p>
      <p>
        Mary Kay Henry serves as International President of the Service Employees International Union (SEIU), the fastest-growing union in North American with 2.2 million workers in healthcare, public, and property services. Henry joined SEIU staff in 1979, rising to become chief healthcare strategist and International Executive Vice President in 2004.  She led the union’s efforts to win a stronger voice for healthcare workers and enact historic healthcare reforms.  In 2010, Henry was unanimously elected International President. Henry sits on the boards of the Economic Policy Institute, American Income Life, Fresh Thinking, and is an advisory member of the National Catholic Scholars for Worker Justice.  She also serves on the Change to Win Leadership Council and is a founding member of SEIU’s gay and lesbian Lavender Caucus.  Henry previously served on the executive board of Families USA and was a labor adviser to the U.S. Catholic Conference of Bishops.
      </p>

      <p class="title">William A. Von Hoene, Jr.</p>
      <p>
        As Senior Executive Vice President and Chief Strategy Officer, William Von Hoene oversees corporate development, corporate strategy, legal, regulatory, government affairs, investments and communications for Exelon Corporation, the nation’s number one competitive energy provider.  He previously served as executive vice president, Finance and Legal, of Exelon. Von Hoene joined Exelon in February, 2002 and has held numerous positions before assuming his current responsibilities in February 2012.  He serves on Exelon’s Executive Committee and is a member of the Boards of Directors of Nuclear Electric Insurance Limited, the Alliance to Save Energy, and the United Way of Metropolitan Chicago.  He also serves on the Board of Advisors of Flying Food Group and is the Chairman and Chief Executive Officer of Constellation Energy Nuclear Group, a joint venture between Exelon and EDF which owns five nuclear units. Prior to joining Exelon, Von Hoene was a senior partner at Jenner & Block, specializing in complex civil and white-collar criminal litigation.  While at Jenner & Block, he served on the management committee and, at various times, as hiring partner and chairperson of the firm’s pro bono and diversity committees.
      </p>

      <p class="title">Alberto Ibargüen</p>

      <p>
        Alberto Ibargüen is president/CEO and a trustee of the John S. and James L. Knight Foundation.
      </p>

      <p>
        He is the former publisher of The Miami Herald and El Nuevo Herald. During his tenure, The Miami Herald won three Pulitzer Prizes and El Nuevo Herald won Spain’s Ortega y Gasset Prize for excellence in journalism. He practiced law in Hartford, Conn., until he joined The Hartford Courant, then Newsday in New York, before moving to Miami. Earlier, he served in the Peace Corps in Venezuela’s Amazon Territory and was the Peace Corps Programming and Training Officer in  Bogotá, Colombia.
      </p>

      <p>
        Ibargüen is a member of the boards of PepsiCo and American Airlines. Previously he served on the boards of AOL and of Norwegian Cruise Lines and was a member of the founding advisory committee of the Public Company Accounting Oversight Board.  Over time, he has served on the boards of arts, education and journalism organizations, including the Lincoln Center for the Performing Arts, Wesleyan University and Smith College. He was the first chair of the World Wide Web Foundation, founded by Web inventor Sir Tim Berners­-Lee to promote a free and universal Web.  He was also chairman of the board of PBS and is a trustee emeritus of the Newseum in Washington, D.C., where he previously served as board chair. He was a member of Secretary of State Hillary Clinton’s Advisory Committee on Foreign Policy and is a member of the Council on Foreign Relations.  He is currently a member of MIT’s Visiting Committee for the MediaLab.
      </p>

      <p>
        For his work to protect journalists in Latin America, Ibargüen received a Maria Moors Cabot citation from Columbia University.  He is a fellow of the American Academy of Arts & Sciences. Wesleyan University, The George Washington University and others have awarded him honorary degrees. He studied at Wesleyan University and the University of Pennsylvania Law School.
      </p>

      <p class="title">John W. Rogers, Jr.</p>
      <p>
        John Rogers is the Chairman, CEO and Chief Investment Officer of Arial Investments.  Rogers’ passion for investing began at age 12, when his father began buying him stocks as Christmas and birthday gifts. His interest in equities grew at Princeton University, where he majored in economics, and over the two-plus years he worked as a stockbroker for William Blair & Company, LLC. In 1983, Rogers founded Ariel Investments to employ a patient, value strategy in small and medium-size companies.
      </p>

      <p>
        He strongly believes in giving back to Chicago, sitting on the corporate boards of Exelon and McDonald’s, and serving as trustee to the University of Chicago.  Nationally, Rogers is a member of the American Academy of Arts and Sciences, and a director of the Robert F. Kennedy Center for Justice and Human Rights. In 2008, he was awarded Princeton University’s highest honor, the Woodrow Wilson Award, presented each year to the alumnus whose career embodies a commitment to national service. Following the election of President Barack Obama, Rogers served as co-chair for the Presidential Inaugural Committee 2009. In 2013, Rogers was featured alongside legendary investors Warren Buffett, Sir John Templeton and Benjamin Graham in the distinguished book: The World’s 99 Greatest Investors by Magnus Angenfelt.  Rogers received an AB in economics from Princeton University, where he was also captain of the varsity basketball team.
      </p>

      <h2> Staff </h2>

        <p class="staff_title">Robert Raben</p>
        <p class="staff_title">Samara Foxx</p>
        <p class="staff_title">Simon Greer</p>


    </div>
  </div>
</div>
