<%= render 'layouts/navbar' %>
<div class="container">
  <div class="row" id="background">
    <div class="col-xs-12">
      <h1>Background</h1>
      <p style="gold">BACKGROUND:</p> <p>This initiative is an effort to increase business opportunities for both diverse asset managers and institutional investors, with a specific focus on public, corporate, faith and labor union pension funds as well as foundation and university endowments.
      </p>

      <p>We are a consortium of financial services professionals, institutional investors, corporate and philanthropic board members and trade associations committed to raising awareness among institutional investors about the benefits and opportunities of investing funds with diverse asset managers.</p>

      <p>Our Honorary Co-Chairs are: Mary Kay Henry, International President of Service Employees International Union; Alberto Ibargüen, President and CEO of the Knight Foundation; John W. Rogers, Jr., Chairman, CEO & Chief Investment Officer of Ariel Investments; and William A. Von Hoene, Jr., Senior Executive Vice President and Chief Strategy Officer of Exelon Corporation.</p>

      <p style="gold">WHY:</p><p> Diverse asset managers are severely underrepresented among the managers hired by institutional investors. Studies demonstrate that funds managed by diverse asset managers often yield greater performance results for their clients than the broader market. While there is a critical mass of high performing diverse asset managers, there is an inadequate demand for their services.</p>

       We know that board Members and C-Suite executives play a critical role in providing direction on who should manage their institution’s assets and capital.
       We know that, externally, investment consultants play a key role in linking institutional investors to asset managers.
       We know that there is a need to increase the number of policies at the state and federal level to ensure diverse asset managers have a greater opportunity to participate in the management of public funds.
      HOW: The initiative will focus on educating and raising awareness with key decision makers at public, corporate, faith and labor union pension funds as well as foundation and university endowments about the supply of high performing, diverse asset managers. We will share studies about the inadequate demand for diverse asset managers by institutional investors despite the number of existing high performers. We will urge the decision makers to proactively address the barriers that prevent them from diversifying the set of managers overseeing their funds.
      The initiative will partner with investment consultants to educate them about the opportunity to diversify existing pools of investment managers that they recommend to their institutional clients and help them to meet their fiduciary responsibilities to their clients. Finally, we will market, network and connect the high- performing world of diverse asset managers with the more traditional investing community.
      GOAL: The goal of the initiative is to build a vibrant, coordinated effort to change the culture of the financial services industry as it relates to asset managers. Success will be achieved when there is common knowledge in the industry of the existence of numerous, high performing diverse asset managers and when they are valued and seamlessly considered by institutional investors. The measurement of success will be the increased use of diverse asset managers by institutional investors and the amount of assets under their management.

      <h3>PDF download</h3>
        <a href="/pdf/DAMI_OnePager.pdf" download="DAMI Background">Download the pdf</a>

    </div>
  </div>
</div>
