<div class="page_wrap" id="fiduciary_guide">

  <%= render 'layouts/header' %>

  <div class="container">

    <div class="row content_margin_top">
      <div class="col-xs-12">
        <div class="article-title">
          Fiduciary Guide to Investing with Diverse Asset Managers and Firms
        </div>
        <div class="about_border"></div>
      </div><!-- col-xs-12 -->
    </div><!-- row -->


    <div class="row">

      <div class="col-md-6">
        <div class="article-column">
          <div class="article-paragraph-header">
            Turn the Fiduciary Rule Upside Down
          </div>

          <div class = "article-text justify">

            <p>Fiduciaries know very well their obligation is to make decisions that are in the best financial interest of their institutions. Often, this fiduciary obligation is cited to justify a lack of investment with minority and women asset managers and MWBE (Minority- and Women-Owned Business Enterprise) firms. Yet, significant academic research on diversity and business suggests the opposite – there is a link between racial and gender diversity and shareholder value.</p>
            <p>For example, a 2015 McKinsey study, titled <i>Why Diversity Matters</i>, found that companies in the top quartile of racial/ethnic and gender diversity were 35% more likely to have above median financial returns.<sup>1</sup>  Another study, Board of Director Diversity and Firm Financial Performance, found a significant positive correlation between diverse racial and gender representation on boards and both return on assets and return on investment.<sup>2</sup></p>
            <p>While it has become more mainstream (though not prevalent enough) for institutions to consider racial and gender diversity with regard to boards, employees, senior leadership, and suppliers, few institutions consider diversity with regard to the management of their assets. Yet, failing to overcome possible biases that screen out high performing diverse managers and firms could come at the expense of higher returns. </p>
            <p class="bold-paragraph">Academic research on diversity and business suggests there is a link between racial and gender diversity and shareholder value.</p>

          </div>

          <br>

          <div class="article-paragraph-header">
            Avoid Groupthink
          </div>

          <div class = "article-text justify">

            <p>One of the key takeaways from the 2008 financial crisis was the role of “groupthink,” whereby homogenous decision-makers failed to properly consider risks and the full range of options for solving problems, or failed to express doubts in a formal way.<sup>3</sup></p>
            <p>For instance, Ethnic Diversity Deflates Price Bubbles, published in the Proceedings of the National Academy of Science of the United States of America, suggests that “price bubbles arise not only from individual errors or financial conditions, but also from the social context of decision making.”<sup>4</sup>  Price bubbles occur when traders collectively err pricing, creating a disparity between market prices and true values. The study shows that bubbles are affected by ethnic homogeneity, which can result in a more severe crash when bubbles burst, but this can be prevented by diversity. In the study, experimental markets were created where participants traded stocks to earn money. Participants were randomly assigned to ethnically homogeneous and diverse markets. Market prices fit true values 58% better in the diverse markets versus the homogenous ones.<sup>5</sup></p>
            <p>Scott Evans, Deputy Comptroller for Asset Management and Chief Investment Officer of New York City, has taken this research seriously in his investment practices. “When we really stop to think about it, the reason is science. Study after study shows that diverse groups make better decisions. When looking for managers to hire – when we see homogeneity, we are concerned. When we see diversity, we see that as a plus.”<sup>6</sup></p>
            <p></p>

          </div>

        </div>
      </div>

      <div class="col-md-6">
        <div class="article-column">
          <div class="article-paragraph-header">
            Generate Alpha
          </div>

          <div class = "article-text justify">
            <p><i>“The Knight Foundation’s policy has always been to consider institutional quality firms. We look at diverse firms because we think they have a unique perspective. It helps to add alpha. It is NOT charitable. It is NOT at the expense of returns. We are steadfast about their needing to perform at the same high level we set for all the managers in our portfolio.” – Juan Martinez, CFO, John S. and James L. Knight Foundation</i></p>
            <p>Investing with diverse managers is a great way to generate alpha and access unique investment opportunities that otherwise would have been overlooked. In the same way that many institutions have created Emerging Manager Programs in order to source new talent and take advantage of return opportunities offered by such firms, an intentional focus on diverse managers can provide fresh ideas. </p>
            <p>Joel Wittenberg, Vice President and CIO of the W.K. Kellogg Foundation, views seeking out diverse managers as an exciting opportunity to increase returns. “Diversity provides us with different ideas than we would otherwise have from a large manager located on Avenue of the Americas in New York City. It really pays off, as emerging managers are a great source of future ideas.”<sup>7</sup></p>
            <p></p>
            <p></p>
            <p></p>
          </div>

          <div class="article-paragraph-header">
            Do the Right Thing for Your Institution and Community
          </div>

          <div class = "article-text justify">
            <p>In addition to promoting the financial health of your institution, investing with diverse managers and firms can have a positive impact on your community as well. Exelon Corporation, for example, takes great pride in ensuring that the company reflects as best it can the makeup of its customers. CIO Doug Brown states, “Exelon has six utilities that provide power to approximately 10 million customers in Chicago, Philadelphia, Baltimore and central Maryland, the District of Columbia, Atlantic City, and the Delmarva Peninsula. These are primarily large urban centers with diverse populations. If we support a young minority fixed income manager and that firm becomes the next Blackrock, that’s how we would define the success of our program.”<sup>8</sup></p>
            <p>Similarly, the W.K. Kellogg Foundation highlights the connection between the diverse population it supports through its grantmaking and its decisions around managing the Foundation’s funds. “You will observe the importance of diversity and inclusion in virtually every aspect of our business,” shares Roderick D. Gillum, Trustee of the Foundation. “We focus externally on diversity with our grantees, and our work centers on racial equity and vulnerable kids. So a logical extension of this applies to the people who work for us. That includes consultants and those involved in managing our investment portfolio.”<sup>9</sup></p>
            <p>By increasing the usage of minority firms, fiduciaries can help create more wealth and job opportunities in the diverse communities they serve. </p>
          </div>

          <div class="article-paragraph-header">
            Conclusion
          </div>

          <div class = "article-text justify">
            <p>Whether driven by an interest in generating better financial returns for your institution, fostering more diversity in asset management, or both, investing with minority and women asset managers and MWBE firms will benefit your institution’s funds and beneficiaries. Continue exploring this guide to learn how you can help encourage your institution to take these important steps towards increased asset performance. </p>
          </div>

        </div>
      </div>



    </div><!-- row -->

    <div class="row">
      <div class="col-md-12">

        <div class="coming-soon-banner">
          FULL FIDUCIARY GUIDE TO COME
        </div>

        <!--
        <a href="/pdf/DAMI-Fiduciary-Guide-v3.pdf" download="DAMI-Fiduciary-Guide-v3.pdf", class="download-fiduciary-guide">
          <div class="coming-soon-banner">
            <i class="fa fa-book"></i> DOWNLOAD FULL FIDUCIARY GUIDE
          </div>
        </a>
        -->

      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="article-endnotes-header">
          ENDNOTES
        </div>
        <div class="endnotes">

          <p><sup>1</sup> Hunt, Vivian, Dennis Layton, &amp; Sara Prince. “Why Diversity Matters.” McKinsey, January 2015. Available at <a href="http:// www.mckinsey.com/business-functions/organization/our-insights/why-diversity-matters">http:// www.mckinsey.com/business-functions/organization/our-insights/why-diversity-matters</a></p>
          <p><sup>2</sup> Erhardt, Nicias L., James D. Werbel, &amp; Charles B. Shrader. “Board of Director Diversity and Firm Financial Performance.” Corporate Governance: An International Review, vol. 11, 2003, pp. 102-111. Available at <a href="http://ssrn.com/abstract=416337">http://ssrn.com/abstract=416337</a></p>
          <p><sup>3</sup> Shiller, Robert J. “Challenging the Crowd in Whispers, Not Shouts.” New York Times, 1 November 2008. Available at <a href="http://www.nytimes.com/2008/11/02/business/02view.html?pagewanted=1&_r=1&ref=business">http://www.nytimes.com/2008/11/02/business/02view.html?pagewanted=1&_r=1&ref=business</a></p>
          <p><sup>4</sup> Levine, Sheen S., Evan P. Apfelbaum, Mark Bernard, Valerie L. Bartelt, Edward J. Zajac, &amp; David Stark. “Ethnic Diversity Deflates Price Bubbles.” Proceedings of the National Academy of Sciences of the United States of America, October 2014. Available at <a href="http://www.pnas.org/content/111/52/18524.abstract">http://www.pnas.org/content/111/52/18524.abstract</a></p>
          <p><sup>5</sup> Levine, Apfelbaum, Bernard, Bartelt, Zajac, &amp; Stark. “Ethnic Diversity Deflates Price Bubbles.”</p>
          <p><sup>6</sup> Scott Evans, Deputy Comptroller for Asset Management/Chief Investment Officer for the City of New York, in person interview by the author, February 3, 2016.</p>
          <p><sup>7</sup> White Jr., Thurman V., &amp; ABFE: A Philanthropic Partnership of Black Communities. “Who Manages the Money? A Case Study of the W.K. Kellogg Foundation.” Progress Investment Management Company, LLC, September 2014, p. 10. Available at <a href="http://diverseassetmanagers.org/pdf/WK_Kellogg_Foundation_Case_Study_Sept_2014.pdf">http://diverseassetmanagers.org/pdf/WK_Kellogg_Foundation_Case_Study_Sept_2014.pdf</a></p>
          <p><sup>8</sup> Doug Brown, Chief Investment Officer of Exelon Corporation, telephone interview by the author, January 22, 2016.</p>
          <p><sup>9</sup> White Jr. &amp; ABFE, “Who Manages the Money? A Case Study of the W.K. Kellogg Foundation,” p. 4.</p>
        </div>
      </div>
    </div><!-- row -->

  </div><!-- container -->





</div><!-- page_wrap -->
