<div class="row">
  <div class="col-lg-12">
    <h1>Studies</h1>

    Diversity in Asset Management
      http://www.siliconvalleycf.org/sites/default/files/publications/investment-manager-diversity-hardest-taboo-to-break-casestudy.pdf
      http://www.abfe.org/wp-content/uploads/2014/10/White+Paper+-+Who+Manages+the+Money+14.pdf
      http://www.naicpe.com/eventmobi/NAIC-RecognizingTheResults.pdf
    Women in Alternative Investments
      http://www.managedfunds.org/wp-content/uploads/2011/08/HF-Pulse-Affirmative-Investing-June-2011-Letter.pdf
      https://www.kpmg.com/BM/en/IssuesAndInsights/ArticlesPublications/Documents/Investments/2015-documents/Women-Alternative-Investments.pdf

    Investment Consultants:
      http://www.toigofoundation.org/pdfs/acheiveing_market_share_growth.pdf
  </div>
</div>
