<%= render 'layouts/navbar' %>

<div class="row">
  <div class="col-lg-12">
    <h1>How You Can Support Diverse Asset Management Firms?</h1>

    <p class="bullet"> • Disclose to DAMI your institution's current utilization of diverse asset management firms</p>

    <p class="bullet"> • Increase assets under management by diverse asset management firms by 10% from where your investment levels are currently</p>

    <p class="bullet"> • Direct your institution's investment consultants on the benefits of utilizing diverse asset management firms</p>

    <p class="bullet"> • Convene a yearly matchmaking event with your investment team, consultants and diverse asset management firms</p>

    <p class="bullet"> • Implement the Rooney Rule (interview at least one diverse asset management firm when new managers/firms are selected)</p>

    <p class="bullet"> • Make a charitable contribution to DAMI (of at least $50,000)</p>
  </div>
</div>
