<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hi Zak,</p>
    <p>Please note that a new user has signed up for DAMI Updates.</p>
    <p>User email: <strong><%= @new_user_email %></strong></p>
  </body>
</html>
