.bullet {
  background-color: rgba(61, 162, 235, 0.2);
  padding: 4px;
}


.title {
  font-weight: bold;
  padding: 20px 0px 0px 0px;
  color: rgb(54, 93, 209);
}


.highlight {
  font-size: 1.5em;
  border: solid 1px black;
  padding: 20px;

}
.events_sidebar {
  background-color: rgb(183, 181, 194);
  border: solid 1px black;
  height: 300px;
}
