<div class="social_bar">
  <a href="https://www.linkedin.com" title="Linked In"><i class="fa fa-linkedin-square fa-2x"></i></a>
  <a href="https://www.facebook.com/" title="Facebook"><i class="fa fa-facebook-official fa-2x"></i></a>
  <a href="https://twitter.com/DAMInitiative" title="Twitter"><i class="fa fa-twitter-square fa-2x"></i></a>
  <%= mail_to "sfoxx@rabengroup.com" , class:"" do %>
    <i class="fa fa-envelope-square fa-2x"></i>
  <% end %>
</div>

<div class="copyright">
  © 2016 DIVERSE ASSET MANGERS INITIATIVE
</div>
