<div class="social_bar">
  <a href="#" title="Linked In"><i class="fa fa-linkedin-square fa-2x"></i></a>
  <a href="#" title="Facebook"><i class="fa fa-facebook-official fa-2x"></i></a>
  <a href="#" title="Twitter"><i class="fa fa-twitter-square fa-2x"></i></a>
  <a href="#" title="You Tube"><i class="fa fa-youtube-play fa-2x"></i></a>
  <a href="#" title="Instagram"><i class="fa fa-instagram fa-2x"></i></a>
  <a href="#" title="Email"><i class="fa fa-envelope-square fa-2x"></i></a>
</div>

<div class="copyright">
  © 2015 DIVERSE ASSET MANGERS INITIATIVE
</div>
